<body>
    @Html.Partial("Header")
    <section class="wrapper container">
        <div class="content-wrapper">
            <div class="content">
            </div>
        </div>
    </section>
    @Html.Partial("Footer")
</body>
