<div class="home">This simple example demonstrates, how can operate two independent widgets with each other...</div>

<script type="text/javascript">
    (function ($) {
        PageManager.RegisterPage(new $.Home.Page());
    }(jQuery));
</script>